<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Luis Mazariego. It uses data from mapbox.com and weatherstack.com.</p>
        <img src="/img/robot.png" alt="Picture of a robot" class="portrait">
    </div>
    {{>footer}}
</body>

</html>